Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -google-readability-casting,
  -hicpp-multiway-paths-covered,
  -hicpp-uppercase-literal-suffix,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
