Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-include,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -google-readability-casting,
  -hicpp-multiway-paths-covered,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
