# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: CC0-1.0 OR ISC

Checks: >
  *,
  -*-magic-numbers,
  -altera-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -hicpp-multiway-paths-covered,
  -llvmlibc-*,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
