Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -hicpp-multiway-paths-covered,
  -llvmlibc-*,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
