# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: CC0-1.0 OR ISC

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
BasedOnStyle: Mozilla
BraceWrapping:
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - ZIX_API
  - ZIX_CONST_API
  - ZIX_CONST_API
  - ZIX_MALLOC_API
  - ZIX_PURE_API
  - ZIX_THREAD_FUNC
  - ZIX_UNUSED
  - _Pragma
...
