Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-suspicious-string-compare,
  -cert-err34-c,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -cppcoreguidelines-init-variables,
  -google-readability-casting,
  -hicpp-multiway-paths-covered,
  -llvm-header-guard,
  -readability-else-after-return,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
