Checks: >
  *,
  -*-uppercase-literal-suffix,
  -altera-*,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-unused-macros,
  -hicpp-multiway-paths-covered,
  -hicpp-uppercase-literal-suffix,
  -llvmlibc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
