# Copyright 2021-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: CC0-1.0 OR ISC

Checks: >
  -*-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -llvm-header-guard,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
